---
import MainLayout from "../layouts/MainLayout.astro";
import Slider from "../components/Slider.astro";
import FlowbiteSlider from "../components/FlowbiteSlider.astro";
---

<MainLayout title="Home" metaDescription="Home Page Meta Description">
  <section class="container mx-auto px-7 py-32">
    <h2>Home</h2>
    <Slider />
  </section>
  <FlowbiteSlider />
</MainLayout>
