<nav>
  <ul class="container mx-auto flex space-x-3 divide-x divide-green-300 p-7">
    <li><a class="hover:text-fuchsia-300/30" href="/">Home</a></li>
    <li><a class="ml-3 hover:text-fuchsia-300/30" href="/colors">Colors</a></li>
    <li>
      <a class="ml-3 hover:text-fuchsia-300/30" href="/containers">Containers</a
      >
    </li>
  </ul>
</nav>
