---
// Components
import MetaTags from "../components/MetaTags.astro";
import Nav from "../components/Nav.astro";

export interface Props {
  title: string;
  metaDescription: string;
  canonical?: string;
}

const { title, metaDescription, canonical } = Astro.props;

import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <MetaTags description={metaDescription} />
    <link
      rel="canonical"
      href={canonical || import.meta.env.SITE + Astro.url.pathname}
    />
  </head>
  <body class="bg-slate-900 text-red-300">
    <main>
      <Nav />
      <h1 class="my-4 text-center text-h3 md:text-h1">Tailwind Components</h1>
      <slot />
    </main>
    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"
    ></script>
  </body>
</html>
